@import '../../styles/media';

.orderList {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.ordersContainer {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  padding: 27px;

  background-color: var(--light-gray);
}

.ordersItems {
  @include media-breakpoint-down(xxl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(1, 1fr);
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  width: 100%;
  height: auto;
  max-height: 100%;
}
