@import 'src/styles/typography';

.order {
  display: flex;
  flex-direction: column;

  padding: 16px;

  color: var(--black);
  text-decoration: none;

  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

.orderHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.orderTitle {
  @include typography-head-4;

  margin-right: 8px;
}

.orderInfo {
  @include typography-text-6;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--half-black);
}
