:root {
  --middle-gray: #e9edef;
  --middle-gray-02: rgb(236 242 252 / 20%);
  --light-gray: #f7f7f7;
  --blue-gray: #bbc5cb;
  --half-black: #637a86;
  --black: #232b2f;
  --light-blue: #e6eef8;
  --main-blue: #0c48a1;
  --blue-gradient-start: #0a50b8;
  --blue-gradient-end: #033b8b;
  --color-primary: #0445a3;
  --white: #fff;
  --light-red: #fd355c;
}
