$fonts-directory: '../../public/fonts';

@font-face {
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  src: url('#{$fonts-directory}/inter-variable-font_wght.woff2') format('woff2-variations'),
    url('#{$fonts-directory}/inter-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  src: url('#{$fonts-directory}/inter-variable-font_wght.woff2') format('woff2-variations'),
    url('#{$fonts-directory}/inter-medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  src: url('#{$fonts-directory}/inter-variable-font_wght.woff2') format('woff2-variations'),
    url('#{$fonts-directory}/inter-semibold.woff2') format('woff2');
  font-display: swap;
}

:root {
  --font-family-inter: inter, arial, serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}

body {
  font-family: var(--font-family-inter);
}
