@import '../../styles/typography';
@import '../../styles/media';

.sidebar {
  @include media-breakpoint-down(md) {
    position: static;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
  }
  position: sticky;
  top: 0;

  width: 200px;
  min-width: 200px;
  height: calc(100vh - 2px);

  box-shadow: var(--sidebar-shadow);
}

.sidebarLogo {
  max-width: 200px;
  padding: 24px 24px 16px;
}

.sidebarMenu {
  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sidebarMenuItem {
  position: relative;
}

.sidebarMenuLink {
  @include typography-text-5;

  @include media-breakpoint-down(md) {
    padding: 10px 24px;
  }
  display: flex;
  align-items: center;

  padding: 18px 24px;

  font-weight: var(--font-weight-bold);
  color: var(--sidebar-menu-color, var(--half-black));
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  transition: color var(--transition);

  &:hover {
    --sidebar-menu-color: var(--black);
  }
}

.sidebarMenuIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.active {
  --sidebar-menu-color: var(--black);

  &::before {
    @include media-breakpoint-down(md) {
      display: none;
    }
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 4px;

    background-color: var(--main-blue);
    border-radius: 0 8px 8px 0;
  }
}
