@import 'src/styles/typography';

.orderFilters {
  display: flex;
  border-top: 1px solid var(--middle-gray);
  border-bottom: 1px solid var(--middle-gray);
}

.filterItems {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.filterItem {
  position: relative;
  margin-right: 16px;
  padding: 18px 0;

  &:last-child {
    margin-top: 0;
  }
}

.filterLink {
  @include typography-text-6;
  display: inline-flex;
  color: var(--filter-menu-color, var(--half-black));

  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-decoration: none;
  transition: color var(--transition);

  &:hover {
    --filter-menu-color: var(--black);
  }
}

.active {
  --filter-menu-color: var(--black);

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    height: 2px;
    background-color: var(--main-blue);
    content: '';
  }
}

.filterCounter {
  @include typography-text-7;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15px;
  height: 15px;
  margin-left: 6px;
  color: var(--white);

  font-weight: var(--font-weight-bold);
  background-color: var(--light-red);
  border-radius: 50%;
}
