@import 'src/styles/media';

.orderNavBar {
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  z-index: 10;

  display: flex;
  gap: 16px;
  justify-content: space-between;

  padding: 16px 20px;
}
