@import '../../styles/typography';

.topMenu {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  background: var(--white);
  border-bottom: 1px solid var(--middle-gray);
}

.topMenuItems {
  display: flex;
  padding: 0 20px;
}

.topMenuItem {
  position: relative;
  margin-right: 16px;
  padding: 19px 0;

  &:last-child {
    margin-top: 0;
  }
}

.topMenuLink {
  @include typography-text-6;
  color: var(--top-menu-color, var(--half-black));

  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-decoration: none;
  transition: color var(--transition);

  &:hover {
    --top-menu-color: var(--black);
  }
}

.active {
  --top-menu-color: var(--black);

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    height: 2px;
    background-color: var(--main-blue);
    content: '';
  }
}
