@import 'src/styles/media';

.layout {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  display: flex;
}

.mainContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
